/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.top-banner{
    display: flex;
    margin: 0;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 35px;
}

.text-orange{
    color: #ffa500;
}

.half-width{
    width: 40%;
    margin: 0 5%;
    padding-left: 2%;
}

.half-width  img{
    width: 100%;
}

.btn{
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(to left,lightsalmon, tomato);
    color: #fff;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}

.dream-big{
    display: flex;
    margin-top: 5rem;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.experiences{
    margin-top: 5%;
}

.experiences-items{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.experiences-items .half-width{
    border-radius: 7px;
    padding: 0 2%;
    box-shadow: 5px 5px 25px #666;
} 

#fullStack{
    border-left: 7px solid;
    border-image: linear-gradient(to bottom,lightsalmon, tomato);
    border-image-slice: 1;
}

#fullStack{
    border-left: 7px solid;
    border-image: linear-gradient(to top,lightsalmon, tomato);
    border-image-slice: 1;
}

#babyweb{
    border-left: 7px solid;
    border-image: linear-gradient(to top,#d57aff, #490085);
    border-image-slice: 1;
}

footer p{
    margin-top: 2rem;
    text-align: center;
    color: #666;
}
